.element-container {
    display: inline-flex;
    align-items: center;
    color: aqua !important;
}

.element {
    color: darkorange !important;
    font-weight: normal;
    margin-right: 10px;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.main-list{
    list-style: disc;
    margin-left: 20px;
}

.sub-list{
    list-style: circle;
    margin-left: 20px;
}